body{
    margin : 0;
    padding : 0;
    background-color : rgb(217, 171, 171);
}

.Content{
    padding-left : 30px ;
    padding-right : 20px;
    font-size : 20px ;
    padding-bottom : 20px ;

}

h1{
    text-align : center ;
    font-size : 50px ;
    margin-bottom : 20px ;
    text-decoration-line : underline ;

}

h2{
    font-size : 30px ;
    margin-bottom : 20px ;
}

img{
    width : 300px ;
    height : auto ;
    display : block ;
    margin : 20px auto;
}

section{
    margin : auto ;

}

